#login{
  width:100%;
  height:100%;
  @include flexbox();
  @include flex-direction(column);
  header {
      width: 100%;
      height: 0.44rem;
      background: #f4f4f4;
      ul {
          width: 100%;
          height: 100%;
          @include flexbox();
          @include align-items(center);
          //line-height: .44rem;
          text-align: center;
          font-size: 0.16rem;
          li {
              width: 0.44rem;

              &:nth-child(2) {
                  @include flex(1);
              }
              &:nth-child(1) {
                color: #cd0400;
                font-size: .22rem;
              }
          }
      }
  }
  section{
      @include flex(1);
      width:100%;
      ul{
        width:100%;
        margin-bottom:.15rem;

        &:nth-child(2),&:nth-child(3){
          li{
            span{

              &:nth-child(2){
                @include flex(1);
                text-align: right;
              }
            }
          }
        }
        &:last-child{
          li{
            span:nth-child(1){
              text-align: center;
              color:#cd0400;
            }

          }
        }
        li {
            @include box-sizing(border-box);
          height:.4rem;


          padding: .05rem .05rem;
        //  @include box-sizing(border-box);
          background: #fafafa;
          @include border(0 0 1px 0,#ccc,solid );
          @include flexbox();

          span{
            line-height:.3rem;
            &:nth-child(2) {
              width:.3rem;
              height:.3rem;
              overflow: hidden;
              color:#cbc9c9;
              text-align: center;
              font-size: .14rem;
              margin-right:.1rem;
              &.border-none{
                border-radius: 50%;
              }
              img{
                width:100%;
                height:100%;
              }

            }

            &:nth-child(1){
              @include flex(1);
              padding-left:.05rem;
              @include box-sizing(border-box);
              text-align: left;
              }

          }

        }

      }
  }


}
