@font-face {
  font-family: yofont;
  src: url("/wocang/images/font/iconfonts.woff") format("woff"), url("/wocang/images/font/iconfonts.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/wocang/images/font/iconfontsmal.woff") format("woff"), url("/wocang/images/font/iconfontsmal.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/wocang/images/font/iconfontfr.woff") format("woff"), url("/wocang/images/font/iconfontfr.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/wocang/images/font/iconfontsend.woff") format("woff"), url("/wocang/images/font/iconfontsend.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/wocang/images/font/iconfontband.woff") format("woff"), url("/wocang/images/font/iconfontband.ttf") format("truetype");
}
